<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel='stylesheet' href="css/home.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Issue Tracker</title>
</head>
<body>
    <header>
    <%- include('_header'); %> 
    <div id="addproject">
                    <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-plus"></i>&nbsp ADD PROJECT
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> ADD A NEW PROJECT</h1>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/project/create">
                            <input type="text" class="form-control" id="project-name" placeholder="Name of the Project" name="name" required>
                            <input type="text" class="form-control" id="project-manager" placeholder="Enter the Name of the Manager" name="manager" required>
                            <textarea class="form-control" placeholder="Enter the Description of the Project" id="project-dexcription" style="height: 200px" name="description" required></textarea>
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i>&nbsp Save Project</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
    </div>  
   </header>

   <div id="list-of-projects">

    <h5><i class="fa-solid fa-list"></i>&nbsp List of All Projects</h5>
       
        <ul type="none">

            <%if (project.length==0){%>
                <p><i class="fa-solid fa-file-circle-plus"></i>&nbspNo Project to render. Please add one to get started.</p>
                <%}%>

            <% for(let item of project){%>
                <li id="<%= item._id%>">
                    <div class="card">
                        <span class="project-item"><b>Name of the Project :</b>&nbsp<%= item.name%></span>
                        <span class="project-item"><b>Manager :</b>&nbsp<%= item.manager%></span>
                        <span class="project-item issue"><b>Issues :</b>&nbsp<%= item.issues.length%></span>

                        <form action="/project/issues/<%= item._id%>" method="get"><button type="submit" class="btn btn-success"><i class="fa-solid fa-location-arrow"></i>&nbsp Open Project</button></form>
                        
                        <form action="/project/delete/<%= item._id%>" method="get"><button type="submit" class="btn btn-success"><i class="fa-solid fa-trash-can"></i>&nbsp Delete Project</button></form>
                    </div>

                </li>
            <%}%>    

        </ul>    
    </div>

    <!-- <%- include('_footer'); %>  -->
</body>
</html>